.service-page-popup-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.322);
}




.service-page-close-popup-button-wrapper{
    position: fixed;
    right: 18%;
    z-index: 1004;
    top: 7%;
    font-size: 1vw;
    background-color: rgba(18, 20, 177, 0.884);
    color: rgb(255, 255, 255);
    border-radius: 2vw;
    padding: 1vw 1.5vw;
    cursor: pointer;
}





