.about-page-headline-wrapper{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-page-main-headline{
    font-size: 30px;
    height: 50%;
    width: 50%;
    font-family: 'text-font';
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    justify-content: right;
    padding: 2vw 4vw 2vw 0vw;
    animation-name: moveIn;
    animation-duration: 400ms;
}




/* Creating animation for header headline */
@keyframes moveIn {
    0% {
        transform: translateX(-500px);
    }

    100%{
        transform: translateX(0);
    }
}


.about-page-sub-heading{
    width: 50%;
    height: 50%;
    font-family: 'text-font';
    font-size: 10px;
    font-weight: 500;
    color: grey;
    display: flex;
    justify-content: left;
    padding: 2vw 0vw 2vw 2vw;
    animation-name: moveInsub;
    animation-duration: 400ms;

}



/* Creating animation for header text */
@keyframes moveInsub {
    0% {
        transform: translateX(500px);
    }

    100%{
        transform: translateX(0);
    }
}